.DS_Store
*.json
!cloud_scheduler_jobs/*.json
!cloud_functions/*/deployment_details.json
*checkpoint.ipynb
*.ipynb_checkpoints
*.csv
*.pkl
*.xlsx
*.xml
**/__pycache__/
*.py[cod]
**/wandb/
**/pt/
**/lightning_logs/
**/catboost_info/
**/checkpoints/
**/node_modules/
**/saved_models/
**/figures/
**/venv/
**/*_venv/
analytics/frontend/src/services/test.py
