<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
	  <root>
		  <level value="DEBUG" />
		  <appender-ref ref="ManagedColoredConsoleAppender" />
		  <appender-ref ref="RollingLogFileAppender" />
	  </root>
	  <appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
		  <mapping>
			  <level value="ERROR" />
			  <foreColor value="Red" />
		  </mapping>
		  <mapping>
			  <level value="DEBUG" />
			  <foreColor value="Green" />
		  </mapping>
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		  </layout>
	  </appender>
	  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		  <file value="Logs\logfile.txt" />
		  <appendToFile value="true" />
		  <rollingStyle value="Composite" />
		  <datePattern value="yyyyMMdd" />
		  <encoding value="unicodeFFFE" />
		  <maxSizeRollBackups value="10" />
		  <maximumFileSize value="5MB" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%d{yyyyMMdd HH:mm:ss} [%t] %-5p %c{2} %x - %m%n" />
		  </layout>
	  </appender>
  </log4net>
  <appSettings>
    <add key="ConfigFilePath" value="c:\work\mbssource19\Services\FixClientLite_Trace\bin\Debug\net8.0\OfferingsClient44.cfg" />
	  
    <!--implemented: 
        DUMMY - append raw FIX received messages based on Log4net configuration ex. ColoredConsoleAppender,RollingLogFileAppender 
        CSV   - append decoded object in csv file. Expects CrackerConfiguration as full Directory with write rights. ex. C:\MBSSource\FIX  Offers.csv/Trades.csv will be generated
        DB  - append decoded object in MSSQL DB. Expects CrackerConfiguration as ConnectionString. ex.  "Data Source=MyDBServer;Initial Catalog=MyDB;User ID=DBUser;Password=MyPass;MultipleActiveResultSets=True" />
        -->
	  
	<add key="CrackerType" value="DUMMY" />
	<add key="CrackerConfiguration" value="" /> 
	  
    <!--<add key="CrackerType" value="CSV" />
    <add key="CrackerConfiguration" value="c:\mbssource\FIX\" />-->
    
  <!--<add key="CrackerType" value="DB" />
    <add key="CrackerConfiguration" value="Data Source=.\SQLEXPRESS;Initial Catalog=ficc;User ID=fix;Password=fixPa$$w0rd!;MultipleActiveResultSets=True" />-->
	  
   <!--<add key="CrackerType" value="BIGQUERY_DB" />
	<add key="CredentialKeys_File" value="c:\mbssource\FIX\FICC\eng-reactor-287421-aaf69152870b.json" />
    <add key="Project_Id" value="eng-reactor-287421" /> 
	<add key="DataSet_Id" value="mbs_data" />
	<add key="Table_Id" value="Traces" />-->
	  
  </appSettings>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
