@use "../../styles/lib" as *;


.root {
  @include region-buffer;
  content-visibility: auto;
  background: color('surface.secondary.1');

  p {
    display: grid;
    grid: none / repeat(3, 1fr);
    gap: 30px;
    padding-block-start: spacing(6);
    padding-block-end: spacing(6);
    padding-inline-start: spacing(3);
    margin-inline-end: spacing(3);
    font: 500 1.8rem / 1.3 #{font('serif')};
    letter-spacing: 0;
    color: color('text.contrast');

    @include screen {
      padding-inline-start: 0;
      margin-inline-end: calc(8% + #{spacing()});
      
      span {
        grid-column: 2 / -1;
      }
    }

    @include screen(lg) {
      margin-inline-end: calc((100vw - 1326px) / 2);
    }

    span {
      grid-column: 1 / -1;

      @include screen {
        grid-column: 2 / -1;
      }
    }
  }

  div {
    contain: content;
    margin-inline-start: 18px;
    background: 
      linear-gradient(
        45deg, 
        #{color('gradient.start')}, 
        #{color('gradient.end')}
      );

    @include screen {
      margin-inline-start: calc(8% + 30px);
    }

    @include screen(lg) {
      margin-inline-start: calc((100vw - 1326px) / 2);
    }
  }
}
